body{
    font-family: 'Redressed', cursive;
}
h1{
    font-size: 50px;
}
.WW{
    color:brown;
}
.welcome{
    width:40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.welcome img{
    width: 100%;
}